# Netify Mobile Environment Configuration
EXPO_PUBLIC_API_URL=http://localhost:3000
EXPO_PUBLIC_APP_ENV=development
EXPO_PUBLIC_APP_NAME=Netify
EXPO_PUBLIC_APP_VERSION=1.0.0


AUTH_VERIFICATION_URL="netify://verify-email?token={token}&email={email}"
AUTH_RESET_URL="netify://reset-password?token={token}&email={email}"z